@model ProfileVM

@{
    ViewData["Title"] = "Change Password";
}

<div class="container mt-4">
    <div class="card mx-auto w-50">
        <div class="card-body">
            <h2 class="card-title mb-5">Change Password</h2>
            <form id="form" asp-action="ChangePassword">
                @if(TempData["success"] != null)
                {
                    <div class="alert alert-success" role="alert">
                        @TempData["success"]
                    </div>
                }
                <div asp-validation-summary="ModelOnly" class="alert alert-danger list-unstyled" role="alert"></div>
                <div class="form-group mb-3">
                    <label asp-for="CurrentPassword" class="control-label"></label>
                    <input asp-for="CurrentPassword" type="password" class="form-control" />
                    <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <label asp-for="NewPassword" class="control-label"></label>
                    <input asp-for="NewPassword" type="password" class="form-control" />
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input id="btnSubmit" type="submit" value="submit" class="btn btn-primary w-100" />
                    <button id="spinner" class="btn btn-primary w-100" style="display: none" type="button" disabled>
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                        Loading...
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                setTimeout(function () {
                    if ($('.field-validation-valid').val() === '') {
                        $('#spinner').css('display', 'block');
                        $('#btnSubmit').css('display', 'none');
                    }
                }, 100);

            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}