@model LoginVM

@{
    ViewData["Title"] = "Login";
}

<div class="container mt-4">
<div class="card mx-auto w-50">
    <div class="card-body">
        <h2 class="card-title mb-4">Login</h2>
        <form id="form" asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ReturnUrl" />
            <div class="form-group mb-3">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" type="password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input id="btnSubmit" type="submit" value="Login" class="btn btn-primary w-100" />
                <button id="spinner" class="btn btn-primary w-100" style="display: none" type="button" disabled>
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    Loading...
                </button>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#btnSubmit').click(function () {
                setTimeout(function () {
                    if ($('.field-validation-valid').val() === '') {
                        $('#spinner').css('display', 'block');
                        $('#btnSubmit').css('display', 'none');
                    }
                }, 50);
                          
            });
        });
    </script>

    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}