html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.spartapink {
    background-color: #cb3158;
}

.search-input {
    background-color: #cb3158;
    outline: none;
    border: none;
    border-bottom: 1px solid lightgrey;
    color: white;
    width: 300px;
}

.search-input::placeholder {
    color: white;
}