@model List<TraineeTracker.MVC.Services.Base.SubCategoryDto>

<div class="container mt-3" style="height: 80vh">
    <div class="d-flex h-100" align="center">
        <div class="col-12 my-auto">
    @foreach (var category in Model)
    {
        <a class="btn btn-lg btn-primary w-50 text-center my-2" 
        asp-action="Category" asp-route-category="@category.Name" 
        asp-route-q="1">@category.Name</a>      
    }
        </div>
    </div>
</div>